@import url(../css/nullstyle.css);


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    display: block;
    padding-top: 20px;
    color: #fff;
    width: 235px;
    height: 70px;
    background-color: #ff0000 ;
    text-align: center; 
    border-radius: 8px;
    box-shadow: 2px 2px 2px black;
    font-size: 19px;
}

.popup {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,1);
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
    font-family: "Open Sans";
    &__container{
        padding: 0 50px;
        padding-top: 54px;
    }
    &__body{
        max-width: 909px;
        
        margin: 0 auto;
        height: 100%;
        padding: 210px 0;
        @media(max-height:1000px){
            padding: 100px 0;
        };
        @media(max-height:780px){
            padding: 20px 0;
        }
    }
    &__content{
        background-color: #fff;
        height: 100%;
        overflow: hidden;
        border-radius: 27px;
        position: relative;
        opacity: 0;
        transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
        transition: all 0.8s ease 0s;
    }
    &__close{
        position: absolute;
        top: 21px;
        right: 18px;
        
    }
    &__title{
        width: 100%;
        color: #000000;
        font-size: 35px;
        font-weight: 700;
        text-align: left;
        span{
            display: block;
        }
        padding-bottom: 52px;
    }
    &__row{
        display: flex;
        width: 100%;
        height: 100%;
    }
    &__column{
        padding: 0 27px;
        width: 100%;
        height: 100%;
        &:first-child{
            margin-left: -27px;
        }
        &:last-child{
            margin-right: -27px;
        }
    }
    &__images{
        padding-top: 23px;
        position: relative;
        
    }
    .first {
        position: relative;
        z-index: 3;
        top: 60px;
    }
    .second {
        position: relative;
        z-index: 2;
        left: 23px;
        bottom: 23px;
    }
    .third {
        position: relative;
        bottom: 330px;
    }
    @media(max-width:875px) {
        .format {
            display: none;
        }
        .first {
            display: flex;
            height: 120px;
            left: 140px;
            top: 0;
        }
        .second {
            display: flex;
            height: 88px;
            left: 62px;
            bottom: -35px;
        }
        .third {
            display: flex;
            height: 161px;
            position: relative;
            bottom: 0;
            right: 102px;
        }
        &__row{
            flex-direction: column;
        }
        &__container {
            padding: 14px 19px 30px 19px;
        }
        &__title {
            color: #000000;
            font-size: 20px;
            font-weight: 700;
            text-align: center;
        }
        &__images {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 !important;
        }
        &__column{
            padding: 0;
            &:first-child {
                margin-left: 0;
                order: 1;
            }
            &:last-child{
                order: 3;
            }
        }
        &__column_rev {
            display: flex;
            flex-direction: column-reverse;
        }
        &__title {
            padding-bottom: 5px;
            order: 2;
        }
    }
}

.popup.open {
    opacity: 1;
    visibility: visible;
}
.popup.open .popup__content{
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}

.popup__files {
}
.flies {
    &__row{
        
    }
    .icon{
        padding: 0 5px;
        &:first-child{
            padding-left: 0px;
        }
    }
}
@media(max-width:875px) {
    .files__row {
        display: flex;
        justify-content: space-between;
    }
    .icon {
        height: 34px;
    }
}

.popup__form {
    position: relative;
    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(51, 51, 51, 0.9) url("../img/loading.gif") center / 50px no-repeat;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease 0s;
    }
}
.popup__subtitle {
    display: block;
    font-size: 15px;
    text-align: left;
    color: #000000;
    font-weight: 500;
    padding-bottom: 8px;
    padding-top: 15px;
    &:first-child{
        padding-top: 0px;
    }
}
.popup__input {
    margin-top: 9px;
    display: block;
    width: 350px;
    height: 52px;
    border-radius: 5px;
    border: 1px solid #a0a0a0;
    margin-bottom: 15px;
    transition: all 0.5s ease 0s;
    &:focus {
        box-shadow: 0 0 15px #b7c9ad;
    }
}
.popup__input._error {
	box-shadow: 0 0 15px red;
}


.input {
    height: 17px;
    width: 350px;
    height: 52px;
    color: #a0a0a0;
    font-size: 20px;
    text-align: left;
    padding-left: 18px;
}



.popup__btn {
    width: 350px;
    height: 71px;
    border-radius: 5px;
    background-color: #3cc36d;
    background-image: linear-gradient(to top, #3cc36d 0%, #37db73 100%);
    color: #ffffff;
    font-size: 25px;
    text-align: left;
    padding-left: 49px;
    img{
        display: inline-block;
        padding-left: 16px;
    }
}
.popup__format {
}
.format {
    &__body{
        display: flex;
        padding: 20px 64px;
        color: #808080;
        font-size: 12px;
        text-align: left;
        text-transform: uppercase;
    }
    &__doc{
        padding: 0 10px;
    }
}

@media(max-width:875px) {
    .input {
        width: 100%;
    }
    .popup__input{
        margin-bottom: 7px;
    }
    .popup__subtitle {
        font-size: 13px;
        padding-bottom: 5px;
    }
    .popup__btn {
        width: 100%;
    }
}